@import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap');
@font-face {
    font-family: "font-1";
    src: url(./assets/DancingScript-Medium.ttf);
}
*{
    padding: 0;
    margin: 0;
}
*::before,
*::after{
    box-sizing: border-box;
}
body{
    background: url(./assets/photo_background.jpg) no-repeat fixed center/cover;
    font-family: "font-1";
    justify-items: center;
}
.flex-container{
    margin: 20px;
    padding: 20px;
    background-image: linear-gradient(
        to top, rgb(252, 249, 253), rgb(167, 121, 211), rgb(131, 203, 206)
    );
    border-radius: 30px;
    box-shadow: 0 0 20px rgb(0, 72, 82);
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    justify-content: space-between;
}
.info-personnel{
    background-color: rgba(201, 179, 219, 0.212);
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0 0 0;
}
.socialMedia{
    border-radius: 0px 20px 20px 0px;
    background-color: rgba(197, 144, 197, 0);
    width: 80px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-basis: 40px;
    margin: 0 0 20px 0;

}
.icon{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin: 10px;
    background-color: rgba(159, 214, 186, 0);
    border-color: rgba(253, 251, 251, 0);
    
}
.image-sm{
    border-radius: 50%;
    height: 0px;
    width: 0px;
    opacity: 0.7;
}
.click-sm{
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin: 5px;
    border: none;
    position: relative;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0);
}

.plus{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.226);
}
.image-titre{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    flex: 1 80%;
}
.titre{
    font-size: 30px;
    text-align: center;
    text-shadow: 0 0 20px rgb(8, 4, 4);
    color: rgb(0, 0, 0);
    rotate: -20deg;
}
@keyframes shadow-name{
    0% {
        text-shadow: 0 10px 20px rgba(0, 0, 0, 0.527);
    }
    25% {
        text-shadow: 0 -10px 20px rgb(104, 17, 17);
    }
    50% {
        text-shadow: 10px 10px 20px rgb(160, 107, 28);
    }
    75% {
        text-shadow: -10 10px 20px rgb(105, 133, 28);
    }
    100% {
        text-shadow: 0 15px 20px rgb(34, 128, 107);
    }
}

/* -------------------------------------button social media - turn -------------------------------------- */

.click-sm::before{
    content: '';
    position: absolute;
    top: -2px;
    left: -3px;
    background-image: linear-gradient(
        rgba(189, 40, 209, 0.555),rgba(255, 230, 0, 0.397) 20%, white 35%
    );
    
    border-radius: 50%;
    z-index: -1;
    height: 0;
    width: 0;
    box-shadow: 0 0 20px white;
}
@keyframes circle-turn {
    from{
    transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.click-sm:hover:before{
    animation: circle-turn 0.5s infinite linear;
    height: 110%;
    width: 110%;
}

/* ------------------------------------------partie corps------------------------------------------- */

.accordion-pro{
    background-color: rgba(209, 189, 226, 0.274);
    width: 100%;
    overflow: hidden;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 0 20px rgba(209, 189, 226, 0.274);
}
.accordion-item{
    display: flex;
    flex-wrap: wrap;
    min-width: 190px;
    justify-content: center;
    flex: 1 1 30%;
    margin: 20px 0;
}
.btn_titre{
    background:none;
    min-height:50px;
    width: 180px;
    justify-content: space-around;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    font-family: font-1;
    outline: none;
    border: none;
    cursor: pointer;
    position: relative;
}
.btn_titre label{
    pointer-events: none;
}

.academique, .experience, .stage{
    padding: 10px 20px 0 40px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}
.bold{
    font-weight: bold;
}

.btn_titre.active{
    background-color: white;
    box-shadow: 0 0 20px 10px rgb(255, 255, 255);
    text-shadow: 0 0px 20px rgb(0, 0, 0);
}
.body{
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;

    position: fixed;
    top: 40%;
    left: 10%;
    right: 20%;
    bottom: 100px;
    background-color: rgb(217, 142, 240);
    width: 0;
    border-radius: 30px;
    max-width: 800px;
}
.body.active{
    z-index: 100;
    max-height:fit-content;
    width: auto;
    box-shadow: 0 0 30px rgb(181, 65, 216);
    padding: 30px 20px;
    overflow: visible;
}

/* ---------------------------------------------::before (for buttons)------------------------------------------- */

.btn_titre::after{
    content: '';
    width: 60%;
    height: 2px;
    bottom: 10px;
    left: 20%;
    background-color: black;
    position: absolute;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 250ms ease-in-out;
}


/* ---------------------------------------------------Partie 3------------------------------------------------------ */

.accordion-partie3{
    background-color: rgba(209, 189, 226, 0.274);
    overflow: hidden;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0 0 20px rgba(209, 189, 226, 0.274);
    padding: 10px 0;
}
.accordion-partie3-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin: 0 10px; */
}
.btn-principale, .btn-secondaire, .btn-3{
    border: 1px solid rgba(192, 130, 207, 0.349);
    background-color: rgba(183, 152, 192, 0.137);
    min-height:50px;
    width: 100%;
    justify-content: space-around;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    font-family: font-1;
    outline: none;
    cursor: pointer;
    position: relative;
    padding: 0 10px;
}
.btn-principale:hover{
    background-color: rgba(183, 152, 192, 0.418);
}
.btn-secondaire{
    background-color: rgba(232, 223, 235, 0.39);
}
.btn-3{
    width: inherit;
    cursor: auto;
}
.body-principale{
    max-height: 0;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    width: 100%;
    margin-left: 20px;
    border-radius: 30px;

}
.body-secondaire{
    margin-left: 20px;
    width:inherit;
    max-height: 0;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    border-radius: 30px;
}
.items-general{
    padding: 20px 30px;
    padding-left: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.body-principale.active, .body-secondaire.active{
    max-height: 2000px;
    transition: 0.5s ease-in-out;
}
.btn-principale.active{
    background-color: rgba(183, 152, 192, 0.527);
    box-shadow: 0 0 20px white;
}
.body-secondaire.active{
    background-color: rgba(205, 185, 211, 0.459);
}
.btn-principale.active i, .btn-secondaire.active i{
    transform: rotate(180deg);
    transition: all 0.3s ease-in-out;
}
.btn-principale::after{
    content: '';
    position: absolute;
    vertical-align: middle;
    width: 10%;
    top: 25px;
    left: 0;
    height: 2px;
    background: linear-gradient(to left, transparent, rgba(172, 98, 187, 0.459));
}
.btn-principale:hover:after{
    animation: ligne-move 3s infinite linear;
}
@keyframes ligne-move {
    from{
        left: -40px;
        background: linear-gradient(to right, transparent, rgba(176, 27, 206, 0.288));;
        transition: all 1s ease-in-out linear;
    }
    to{
        background: linear-gradient(to right, transparent, rgba(242, 247, 0, 0));;
        left: 180%;
    }
    
}

/* -------------------------------------------------partie-footer-------------------------------------------------------- */

.partie-footer{
    height: fit-content;
    width: 100%;
    border: 2px dashed rgb(221, 194, 231);
    border-radius: 30px;
    background-color: rgba(231, 214, 240, 0.699);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.partie-contact{
    min-width: 220px;
    margin: 20px;
    padding: 20px 10px 20px 35px;
    border-radius: 30px;
    background-color: rgb(224, 193, 235);
    display: flex;
    align-items: center;
}
.pdf-creator, .link-git{
    padding: 20px 10px;
    min-width: 220px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    gap: 10px;
    background-color: rgb(224, 193, 235);
}
.link-git{
    flex-direction: row;
    gap: 5px;

}
.pdf-cv{
    height: 50px;
    width: 50px;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgb(184, 109, 228);
}

.up-nav{
    position: fixed;
    width: 0;
    max-height: 0;
    border-radius: 50%;
    background-color: rgb(170, 92, 206);
    box-shadow: 0 0 20px rgb(133, 65, 196);
    bottom: 50px;
    right: 50px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    scroll-behavior: smooth;
    overflow: hidden;
}
.image-up{
    height: 50px;
    width: 50px;
}
.up-nav.active{
    max-height: 50px;
    width: 50px;
}
.up-nav:hover{
    background-color: rgb(158, 40, 212);
    box-shadow: 0 0 20px rgb(126, 0, 245);
}

/* ----------------------------------------------Hover and classes------------------------------------------------------ */
.btn_titre:hover:after{
    transform: scale(1);
}
.image-sm:hover{
    box-shadow: 0 0 20px white;
    transition: 0.1s;
}
.plus:hover{
    box-shadow: 0 0 20px rgb(255, 255, 255);
    background-color: white;
}
.image-sm.active{
    height: 35px;
    width: 35px;
    border-color: 2px solid white;
    transition: 1s ease-in-out;
}
.plus.active{
    background-color: white;
    box-shadow: 0 0 20px rgb(255, 255, 255);
}
.image-sm.disactive{
    height:0;
    width: 0;
    transition: 2s ease-in-out;
}
.titre:hover{
    animation: shadow-name 3s infinite;
}
.btn_titre:hover{
    background-color: white;
    box-shadow: 0 0 20px 10px rgb(255, 255, 255);
    text-shadow: 0 0p
    x 20px rgb(0, 0, 0);
}

/* ----------------------------------------------------- Blur & Flou ------------------------------------------------------- */

.flou{
    filter: blur(1px);
    opacity: 0.5;
    transform: scale(0.98);
}
.blur-window{
    filter: blur(10px);
    opacity: 0.2;
    transform: scale(1);
}

/* --------------------------------------------------Media Query--------------------------------------------------------*/

@media screen and (max-width: 1065px) {
    .titre{
        font-size: 30px;
        transition:2s ease-in-out;
        transform: rotate(20deg);
    }
    .info-personnel{
        margin-top: 30px;
    }
}
@media  screen and (max-width: 650px) {
    .socialMedia{
        border-radius: 0 0 20px 20px;
        background-color: none;
        width: 100%;
        justify-content: center;
        flex-direction: row;
        margin: -20px 20px 30px 20px;

    }
    .info-personnel{
        flex-direction: row;
        justify-content: center;
    }
    .titre{
        font-size: 20px;
    }
    .image-titre{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .ehsan{
        height: 250px;
        width: 250px;
    }
    .body{
        position: fixed;
        top: 40%;
        left: 20px;
        right: 20px;
        bottom: 100px;
    }
}

/* ---------------------------------------- liste circulaire -------------------------------------------- */

/* .test{
    margin: 30px 0;
    height: 350px;
    width: 150px;
    background-color: rgb(135, 44, 219);
    display: flex;
    justify-content: left;
    align-items: center;
}
.centre{
    height: 60px;
    width: 60px;
}
.sm{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    list-style: none;
}
.toggle{
    margin-left: 10px;
    top: 240px;
    left: 10px;
    width: 65px;
    height: 65px;
    background-color: white;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    z-index: 5000;
}
.toggle.active{
    background-color: rgb(144, 29, 221);
    box-shadow: 0 0 0 55px white;
}
.test li{
    position: absolute;
    list-style: none;
    transform: rotate(calc(199deg / 5 * var(--i)));
    border: 2px solid red; 
    left: -90px;
    rotate: 60deg;
    top: 240px;
    transform-origin: 140px;
} */
